{% extends 'Admin/dashboard.html.twig' %}
{% block dashboard_body %}
    <div class="content-admin">
        <div class="content-admin-wrapper">
            <div class="content-admin-main">
                <div class="content-admin-main-inner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 background-white ">
                                <div class="page-title p20">

                                    <h2>Création d'une Newsletter</h2>

                                </div>
                                {{ form(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}