{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-sm-8 ">
        <h2>Création d'un stage</h2>
        {{ form(form) }}
        {% for type, message in app.session.flashbag.all() %}
            {% if type == 'notice' %}
                {{ message[0] }}
            {% endif %}
        {% endfor %}
    </div></div>
{% endblock %}