
<div class="content-admin-footer">
    <div class="container-fluid">
        <div class="content-admin-footer-inner">
            © 2015 All rights reserved. Created by <a href="#">Wargnier Christophe</a>.
        </div><!-- /.content-admin-footer-inner -->
    </div><!-- /.container-fluid -->
</div>