<a href="{{ path('dashboard_services') }}">
    <span class="icon"><i class="fa fa-folder-open-o"></i></span>
    <span class="title">Services <span class="notification">{{ countServices }}</span></span>
    <span class="subtitle">Création et gestion des nouvelles demandes </span>
</a>