<a href="{{ path('dashboard_commentaires') }}">
    <span class="icon"><i class="fa fa-ban"></i></span>
    <span class="title">Commentaires <span
                class="notification">{{ countCommentaires }}</span> </span>
    <span class="subtitle">Consulter la liste</span>
</a>