<a href="{{ path('dashboard_banned_account') }}">
    <span class="icon"><i class="fa fa-ban"></i></span>
    <span class="title">Compte Bannis <span
                class="notification">{{ countBannedUsers }}</span> </span>
    <span class="subtitle">Consulter la liste</span>
</a>