<a href="">
    <span class="icon"><i class="fa fa-cubes"></i></span>
    <span class="title">Prestataires <span
                class="notification">{{ countPrestataires }}</span></span>
    <span class="subtitle">Gestion </span>
</a>