<a href="admin-notifications.html">
    <span class="icon"><i class="fa fa-user"></i></span>
    <span class="title">Internautes <span class="notification">{{ countInternautes }}</span></span>
    <span class="subtitle">Gestion </span>
</a>