<a href="">
    <span class="icon"><i class="fa fa-file-pdf-o"></i></span>
    <span class="title">Newsletters <span class="notification">{{ count }}</span></span>
    <span class="subtitle">Editer</span>
</a>