<a href="{{ path('dashboard_abus') }}">
    <span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
    <span class="title">Abus signalés <span class="notification">{{ countAbus }}</span></span>
    <span class="subtitle">Gestion des abus</span>
</a>