<div class="page-title">
    <h2>Liste des utilisateurs bannis</h2>
</div>

{% for u in users %}

    {% if u.internaute is not null %}
        {{ u.internaute.nom }}<a href=""> Débloquer</a><a href=""> Voir le profil</a><br>
        {% else %}
        {{ u.prestataire.nom }}<a href=""> Débloquer</a><a href=""> Voir le profil</a><br>
        {% endif %}
{% endfor %}
