{#  #}

{% extends 'Public/Internautes/EditProfile/nav.edit.profile.internaute.html.twig' %}

{% block edit %}

    {% set pathImg=(app.user.internaute.image.url matches '{^http}')?'':'image/userUploads/' %} {# retire le chemin du dossier si image chargée en ligne (fixture)#}

    <div class="col-sm-8 col-lg-9">

        <div class="content">
            <div class="row">

                <div class="page-title">

                    <h1>
                        Photo actuelle
                    </h1>
                    <img style="width:150px" src="{{asset(pathImg~app.user.internaute.image.url)}}"/>
                    {{form(form)}}
                </div>
            </div>
        </div>
    </div>
{%endblock%}