{#  #}

{% extends 'Public/Internautes/EditProfile/nav.edit.profile.internaute.html.twig' %}

{% block edit %}
    {% if  is_granted('ROLE_ADMIN') %}
        {% set imageURL = internaute.internaute.image.url %}
    {% else %}
        {% set imageURL = app.user.internaute.image.url %}
    {% endif %}
    {% set pathImg=(imageURL matches '{^http}')?'':'image/userUploads/' %} {# retire le chemin du dossier si image chargée en ligne (fixture)#}
    <div class="col-sm-8 col-lg-9">

        <div class="content">
            <div class="row">

                <div class="page-title">

                    <h1>
                        Photo actuelle
                    </h1>
                    <img style="width:150px" src="{{ asset(pathImg~imageURL) }}"/>

                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}