/*
    Gestion de projet:annuaire Bien-Être
    ====================================
    
    annuaire_off_gp.css
 
    Created on : 03-oct.-2016, 13:31:51
    Author     : Chris

*/

.header-logo a img{
    width:30px;
    margin:15px 0;
}
.row .input-group input{height:60px;   border-radius: 0px;}
.row p{
    margin:45px 0;
}
.input-group {width:75%;margin:auto;}
.input-group span button{
    background-color: #009f8b;
    border: 0px solid #009f8b;
    border-radius: 0px;
    color: #fff;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}
#gp_content h1{
    font-size:45px;
}
#gp_content{
    position:absolute;
    top:200px;
    margin:auto;
    width:100%;
    text-align:center;
    color:rgba(255,255,255,0.8);            
}
.carousel-inner{
    overflow:hidden;
    height:630px;
    vertical-align:bottom;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
}