{# views/Public/Navigation/nav.child.promotions.elements #}

<ul>
    {% for promotion in promotions %}
        <li>
            <a href="">{{promotion.nom}}<span> jusqu'au {{ promotion.dateFin|date("d/m","Europe/Paris") }}</span></a>
        </li>
    {%endfor%}
</ul>