{# empty Twig template #}

<style>
    a{
        text-transform:uppercase;
        color:rgb(159,139,0);
        text-decoration:none;
        font-size:12px;
    }
</style>
<p>Bonjour {{ user.firstName|capitalize }} {{ user.lastName|capitalize }}!</p>
<a href="{{ url('signup-final',{'signup':user.id,'token':user.token}) }}">Valider mon inscription</a>
{# attention utiliser la fonction 'url' -> pas écrire partie d'url dans le dur #}
