{# empty Twig template #}

<style>
    a{
        text-transform:uppercase;
        color:rgb(159,139,0);
        text-decoration:none;
        font-size:12px;
    }
</style>
<p>Bonjour {{ user.firstName }} {{ user.lastName }}!</p>
<a href="http://127.0.0.1{{ path('signup-final',{'id':user.id}) }}">Valider mon inscription</a>

