
<header>
    <h3>
        {# Connection - Inscription   js:GpPopup.display() #}
    </h3>
</header>

<section id="body">

    {#{{include('accueil/login.html.twig')}}#}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</section>








