{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    About us  - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="document-title">
                        <h1>About us</h1>
                    </div>
                    <div class="main">
                        <div class="main-inner">
                            <div class="container">
                                <div class="content">
                                    <div class="invoice-wrapper">
                                        <div class="invoice">
                                            <div class="invoice-header clearfix">
                                                <div class="invoice-logo">
                                                    <i class="fa fa-star"></i> Annuaire Bien-Être
                                                </div>
                                                <div class="invoice-description">
                                                    <span>Lorem ipsum dolor sit amet, consectetur...</span>
                                                </div>
                                            </div>
                                            <div class="invoice-info">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <h4>Siège social</h4>
                                                        <strong>Galet</strong> s.a.<br>
                                                        13, rue du Commerce<br>
                                                        1000 Bruxelles<br>
                                                        Belgique<br>
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <h4>About us</h4>

                                                        Drem psum dolor sit amet<br>
                                                        Laoreet dolore magna<br>
                                                        Consectetuer adipiscing elit<br>
                                                        Magna aliquam tincidunt erat volutpat<br>
                                                        Olor sit amet adipiscing eli<br>
                                                        Laoreet dolore magna
                                                    </div>

                                                    <div class="col-sm-4">
                                                        <h4>Informations légales</h4>

                                                        <strong>TVA:</strong> 32132123<br>
                                                        <strong>Name:</strong>Lorem Ipsum<br>
                                                        <strong>Duration:</strong> Dolor si amet<br>
                                                    </div>
                                                </div>
                                                <div class="row">
...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}