{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    About us  - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="document-title">
                        <h1>About us</h1>
                    </div>
                    <div class="main">
                        <div class="main-inner">
                            <div class="container">
                                <div class="content">
                                    <div class="invoice-wrapper">
                                        <div class="invoice">
                                            <div class="invoice-header clearfix">
                                                <div class="invoice-logo">
                                                    <i class="fa fa-star"></i> Annuaire Bien-Être
                                                </div>
                                                <div class="invoice-description">
                                                    <br><span>Lorem ipsum dolor sit amet, consectetur...</span>
                                                </div>
                                            </div>
                                            <div class="invoice-info">
                                                <div class="row">


                                                    <div class="col-sm-8">
                                                        <h4>About us</h4>

                                                        Drem psum dolor sit amet
                                                        Laoreet dolore magna
                                                        Consectetuer adipiscing elit
                                                        Magna aliquam tincidunt erat volutpat
                                                        Olor sit amet adipiscing eli
                                                        Laoreet dolore magna
                                                        Drem psum dolor sit amet
                                                        Laoreet dolore magna
                                                        Consectetuer adipiscing elit
                                                        Magna aliquam tincidunt erat volutpat
                                                        Olor sit amet adipiscing eli
                                                        Laoreet dolore magna
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="col-sm-6">
                                                            <h4>Siège social</h4>
                                                            <strong>Galet</strong> s.a.<br>
                                                            13, rue du Commerce<br>
                                                            1000 Bruxelles<br>
                                                            Belgique<br>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h4>Informations</h4>
                                                            <strong>TVA </strong> 012569875455<br>
                                                            <i class="fa fa-phone"> 04 247 89 56</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    ...
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}