{#  #}

<ul>
    {% for prestataire in prestataires %}
        <li>
            <a href="{{path('details_prestataire',{'prestataire_nom':prestataire.nom})}}">{{prestataire.nom}}</a>
        </li>    
    {%endfor%}
</ul>    